/* Root */
:root {
    --lightgray: rgba(0, 0, 0, 0.4);
    --dark: #000000;
    --light: #ffffff;
    --blue: blue;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
    font-family: 'IBM Plex Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    max-width: 700px;
    margin: 5rem auto;
    background-color: var(--light);
}

/* Fonts */
p,
h2,
h3,
h4,
a,
span,
.logo a,
.logo span,
.back a {
    font-size: 1.6rem;
}


h1,
p,
h2,
h3,
h4,
a,
.logo span {
    color: var(--dark);
}


.ausgabe {
    background-color: blue;
    min-height: 5rem;
    display: flex;
    align-items: center;
    color: var(--light);
    padding: 0 0 0 1rem;
}

p {
    line-height: 1.4;
    padding: 1rem 0;
}

/* Nav */

header {
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
    color: var(--dark);
}

.logo:hover::after {
    padding-left: 0.5rem;
}

.back:hover::before {
    padding-right: 0.5rem;
}

.logo:hover::after,
.back:hover::before {
    display: flex;
    align-items: center;
    content: "\003C";
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--blue);
}

.logo a {
    font-weight: 400;
    color: var(--dark);
    text-decoration: none;
    border: none;
    display: block;
    margin-left: 0;
}

.logo span {
    color: var(--lightgray);
    font-weight: 400;
    text-decoration: none;
    margin-left: 0.5rem;
}

nav {
    display: flex;
    margin: 5rem 0 10rem 0;
}

nav ul {
    display: flex;
    list-style: none;
    width: 100%;
}

nav ul li {
    width: 100%;
    display: flex;
}

nav ul li.back {
    justify-content: end;
}

/* Main */

h1 {
    font-size: 1.8rem;
    padding-bottom: 1rem;
}

button {
    color: var(--dark);
    background-color: var(--light);
    border: 2px solid;
    padding: 1.25rem 2.5rem;
    font-size: 1.3rem;
}

button:hover {
    cursor: pointer;
    background-color: blue;
    color: var(--light);
}

div {
    display: flex;
    align-items: center;
    margin: 2.5rem 0;
}

.generieren {
    margin-right: 2rem;
}


/* Footer */
footer {
    margin-top: 12rem;
}

footer p {
    color: var(--lightgray);
}


@media (prefers-color-scheme: dark) {
    body {
        background-color: #121212;
    }

    :root {
        --lightgray: rgba(255, 255, 255, 0.6);
        --dark: #fafafa;
        --light: #121212;
    }

    button {
        color: var(--dark);
        background-color: var(--light);
    }

    button:hover {
        background-color: blue;
        color: var(--dark);
    }

    .ausgabe {
        color: var(--dark);
    }

    span,
    li span {
        color: var(--lightgray);
    }

    h1 {
        font-weight: 400;
        line-height: 1.8;
    }

    .logo:hover::after,
    .back:hover::before {
        color: var(--dark);
    }

}

@media screen and (max-width: 699px) {
    body {
        margin: 5rem 1.5rem;
    }


    h1 {
        text-align: left;
    }

}

@media screen and (max-width: 399px) {


    p,
    a,
    span {
        font-size: 1.6rem;
    }

    .project_overview p,
    .project_overview p a {
        font-size: 1.6rem;
        padding: 1.25rem 0;
    }

}